body {
  color: wheat;
  background-color: rgb(19, 18, 18);
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#main {
  min-height: 100%;
  position: relative;
}

.header {
  background-color: rgb(38, 36, 36);
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerTitle {
  font-size: 5em;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

li {
  padding: 2em;
}

img {
  width: 14em;
  height: 14em;
}

.imageSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 8em;
}

.scoreSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(38, 36, 36);
  border-radius: 100em;
  margin-top: 8em;
  margin-left: 20em;
  margin-right: 20em;

}

.uVsComp {
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  margin-top: 24px;

}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: fixed;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: rgb(38, 36, 36);
}
